<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <h1>Book List</h1>
  <% if (books.length) { %>
    <ul>
    <% books.forEach(book => {  %> 
      <li><span id="book-title"><%= book.title %></span> : <%= book.read ? "Read" : "Not Read"  %>
        <a href='/books/<%=book._id%>/edit'><button class='nice-button'>Edit</button></a>
        <form action='/books/<%=book._id%>?_method=DELETE' method="post">
          <button id='delete' type="submit">Delete</button>
        </form>
      </li>
    <% }) %>
    </ul>
  <% } else { %>
    <h2>There are no books yet</h2>
  <% } %> 
  <a href="/books/new"><button class='nice-button' id='add-new'>Add a new book</button></a>
</body>
</html>